.banner__titulo {
  color: #fdfdfd;
  font-family: 'pacifico', cursive;
  font-size: 8.1rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  text-shadow: 0 4px 4px black;
  width: 100%;
}

@media screen and (min-width: 0) {
  .banner__titulo {
      font-size: 4rem;
  } 
}